ul {
    list-style-type: none;
    display: inline-block;
    float: right;
    padding: 4%;
    width: 100%;
}

ul li {
    display: block;
    position: relative;
    float: left;
    text-align: center;
    margin: 4%;
}

a:link {
  color: #595959;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
    color: #999999;
    text-decoration: underline;
}

.App {
  text-align: center;
}

.App-header {
  height: 10%;
  padding: 5px;
  color: #595959;
  border-bottom-style: inset;
}

.main {
    width: 100%;
}

.main-header {
    padding-top: 65px;
    display: inline-flex;
}

.main-text {
    width: 55%;
    text-align: justify;
}

.name {
    display: inline-flex;
    font-size: 25px;
    width: 69%;
    text-align: left;
    margin-left: 1%;
}

.my-picture {
    width: 40%;
    height: 100%;
}

.me {
    border-radius: 50%;
    width:80%;
    text-align: left
}

.menu {
    float: right;
    width:30%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
