nav {
    width: 200px;
    height: 100%;
    position: absolute;
    transform: translate(-350px, 0);
    transition: transform 0.5s ease;
    background-color: white
}

nav.open {
    transform: translate(0, 0);
    margin: 0px;
    padding: 0px;
}

.headerMenu {
    display: inline-block;
    position: absolute;
    right: 0;
    padding: 1%;
    margin-right: 6%;
}

.headerMenu svg {
    width: 32px;
    fill: #E0E0E0;
}

ul {
    list-style: none;
    padding-left: 1%;
    color: gray;
}

.firstMenu {
    border-top: 1px solid black;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

a {
    color: #333;
}

.App {
    text-align: center;
}

span {
    font-size: 35px;
}

.App-header {
    padding: 2px;
    color: #595959;
    border-bottom-style: inset;
}

.main {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main-text {
    width: 100%;
    text-align: center;
}

.name {
    text-align: left;
    padding: 16px;
    margin-left: 3%;
    width: 75%;
}

.my-picture {
    width: 100%;
}

.me {
    /* border-radius: 50%; */
    width: 100%;
}

.menu {
    float: right;
    width: 30%;
}

h1 {
    font-family: futura-pt;
    font-size: 51px;
    font-weight: bold;
    font-style: normal;
    text-transform: none;
    letter-spacing: -.02em;
    line-height: 1em;
    color: #333;
    display: none;
}

li {
    background-color: transparent;
    color: #333;
    border: 2px solid #333;
    padding-right: calc(1.44em - .14em);
    padding-bottom: 1em;
    padding-left: 1.44em;
    padding-top: 1em;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .14em;
    font-weight: 700;
    font-style: normal;
    list-style-position: inside;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.1rem;
    text-align: center;
  }

ul {
    margin: 0 auto;
    display: inline-flex;
}

.language {
    margin-top: 8%;
}

.socialMedias{
    border-style: none;
}

.englishButton {
    margin-right: 5px;
}

.portugueseButton {
    margin-left: 5px;
}

@media screen and (min-height: 485px){
    .language {
        margin-top: 10%;
    }

    h1 {
        display: block;
    }
}

@media screen and (min-height: 600px){
    .language {
        margin-top: 15%;
    }

    h1 {
        display: block;
    }
}

@media screen and (max-height: 375px) {
    .footer {
        display: none;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}